.clsActive{
    color:#99ccff;
  }
  
  .nav-text-wrap{
      width:100%;
      border-bottom:1px solid #ccc;
  }
  .logo-wrap {
    width: 963px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    position: relative;
  }
  .logo-wrap .revise{
    margin-left:0 ;
  }