
.logo-wrap{
    width: 963px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    position: relative;
}
.logo-wrap img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
.links{
    float: left;
    margin-left: 143px;
    
}
.links li{
    float: left;
    margin-right: 20px;
}
.default{
    color: yellow;
}
a{
    color: #666;
}
a:hover{
    color:#99ccff;
}
.clsActive{
    color:#99ccff;
}

.content{
    border-top: 1px solid #ccc;
    overflow: hidden;
    clear: both;
}